body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color:#222
}
h1 {
    border-bottom: 4px solid #333333;
}
h2 {
    border-bottom: 2px dashed #0076ff;
}
p {
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
}
.highlight {
    background-color: #fff3b0;
    padding: 10px;
}
a {
    color: #0076ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 12px;
}